.card-container{
  width: 100vw;
  margin-top: 16px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.img-generated{
  object-fit: cover;
}
.hidden{
  display: none;
}
@media (max-width:600px) {
  .card-container{
    display: flex;
    flex-direction: column;
  }
}

