.card-container{
  width: 100vw;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.card{
  margin-top: 12px;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(min(50%, 30rem), 1fr)) ;
}
.hidden{
  display: none;
}

