.form-section{
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
}
.form-header{
  font-weight: 700;
  font-size: 32px;
}
.form-control{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input{
  margin-top: 12px;
  height: 32px;
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
  border: 1px solid #075e54;
  padding: 2px, 0;
}
.form-select{
  margin-top: 12px;
  border: 1px solid #075e54;
  background: transparent;
  height: 34px;
  width: 80%;
  max-width: 604px;
  border-radius: 15px;
}
.submit{
  height: 32px;
  background:#075e54;
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
.submit:hover{
  transform: scale(1.02);
}